.card-links a:hover {
  background-color: orangered;
}

.card-links a:active {
  background-color: midnightblue;
}

.card-links a:focus {
  outline: 2px solid yellow;
}

.card-links a:visited {
  color: crimson;
}


section {
  margin: 20px auto;
  max-width: 600px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
}

section:hover{
  transform: skewX(10deg);
}