h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}
p {
  font-size: 30px;
}
body{
   background-color: rgb(144, 199, 133);
}
button{
  background-color: rgb(0, 38, 255);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}