h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}
p {
  font-size: 30px;
}
body{
   background-color: rgb(216, 166, 110);
}
button{
  background-color: rgb(252, 232, 197);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}